@using SportsScoreBoard.Components.Pages.Sports.Volleyball.ScoreComponents.ScoreCard
<MudStack Row="true" Wrap="Wrap.Wrap">
    <MudGrid Class="d-flex ma-0 pa-0"
             Style="@(Team.IsHome ? "flex-direction: row-reverse" : "flex-direction: row")">
        <MudItem md="6"
                 Style="@(Team.IsHome ? "justify-content: flex-end" : "justify-content: flex-start")">
            <MudTextField T="string"
                          Variant="Variant.Text"
                          ValueChanged="e => OnTeamNameChange(e)"
                          Value="@Team.Name"/>
        </MudItem>
            @if (Team.IsHome)
            {
                <MudItem xs="12" Class="ms-0 ps-0">
                    <MudContainer Class="d-flex flex-grow-1 justify-end flex-wrap-reverse mx-0 px-0">
                        @if (GameSettings.ShowSets)
                        {
                            <SetsPart Sets="Sets" Team="Team" ShowTimeouts="GameSettings.ShowTimeouts"/>
                        }
                        <div class="flex-grow-1">
                            <ScorePart ShowServing="GameSettings.ShowServing" Score="@Score" Team="@Team" IncrementScore="OnScoredClick"/>
                        </div>
                    </MudContainer>
                </MudItem>
            }
            else
            {
                <MudItem xs="12" Class="me-0 pe-0">
                    <MudContainer Class="d-flex flex-grow-1 justify-start flex-wrap mx-0 px-0">
                        <div class="flex-grow-1">
                            <ScorePart ShowServing="GameSettings.ShowServing" Score="@Score" Team="@Team" IncrementScore="OnScoredClick"/>
                        </div>
                        @if (GameSettings.ShowSets)
                        {
                            <SetsPart Sets="Sets" Team="Team" ShowTimeouts="GameSettings.ShowTimeouts"/>
                        }
                    </MudContainer>
                </MudItem>
            }
    </MudGrid>
</MudStack>